{
  "gerrit-id": "vendor-ci",
  "delete-on-failure": false,
  "worker-threads": 4,
  "tests":
  [
    {
      "test-name": "prefix",
      "image-id": "69d5bf42-2eae-4ebc-95bf-a041f04301b2",
      "test-host": "10.125.202.234",
      "backend-name": "x",
      "config-opts":
      [
        "volume_driver=cinder.volume.drivers.MyDriver",
        "san_ip=10.125.165.140",
        "san_login=admin",
        "san_password=pass"
      ]
    }
  ]
}
