{
  "gerrit-id": "vendor
  "ci_name": "Vendor Storage",
  "delete-on-failure": false,
  "worker-threads": 2,
  "smtp-host": "smtp.example.com",
  "smtp-to": "openstack-cinder@example.com",
  "tests":
  [
    {
      "test-name": "prefix-iscsi",
      "image-id": "566c9db5-a34d-4577-ab68-231a5e52c49c",
      "test-host": "10.125.202.234",
      "test-concurrency": 1,
      "backend-name": "x",
      "config-opts":
      [
        "volume_driver=cinder.volume.drivers.MyISCSIDriver",
        "san_ip=10.125.165.140",
        "san_login=admin",
        "san_password=pass"
      ]
    },
    {
      "test-name": "prefix-fc",
      "image-id": "FC_CIvm1",
      "test-host": "10.126.118.249",
      "backend-name": "z",
      "test-platform": "vmware",
      "test-type": "FC",
      "os-user": "root",
      "os-pass": "password",
      "image-user": "ubuntu",
      "config-opts":
      [
        "volume_driver=cinder.volume.drivers.MyFCDriver",
        "san_ip=10.126.118.239",
        "san_login=admin",
        "san_password=pass"
      ]
    }
  ]
}
